@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
}

.borderBlack {
    @apply border border-black/10;
}

.animationUnderline {
    @apply           
    font-bold
    inline-block
    relative
    transition-all
    duration-500
    before:content-['']
    before:absolute
    before:-bottom-0.5
    before:left-0
    before:w-0
    before:h-0.5
    before:rounded-full
    before:opacity-0
    before:transition-all
    before:duration-300
    before:bg-gradient-to-r
    before:from-sky-700
    before:via-sky-700
    before:to-sky-700
    hover:before:w-full
    hover:before:opacity-100
}